.thanks-container {
    text-align: center;
}

.thanks-container h2 {
    margin-bottom: 1rem;
}

.thanks-container p {
    font-size: .9rem;
    margin-bottom: .5rem;
}

.thanks-container h3 {
    margin: 1rem 0;
}

.review-data {
    text-align: left;
}

.review-data svg {
    font-style: italic;
    font-weight: 300;
    font-size: 0.7rem;
    margin-top: 0.4rem;
}

.review-data span {
    font-weight: bold;
}